:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #393D47;

}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

#add-task {
    padding: 12px 18px;
    background-color: #767F94;
    border-radius: 6px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #767F94;  
}

#todo-list li {
    list-style-type: square;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

#todo-list li.completed {
    text-decoration: line-through;
    color: #888;
}